<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut !</h1>
    <p>
      Une nouvelle commande a été passée par <%= @order.user.email %>
    </p>
    <p>
      Pour accéder à ton espace administrateur, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite !
    </body>
  </html>
