<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut !</h1>
    <p>
    Nous te confirmons ta commande! Tu es désormais l'heureux propriétaire d'un chat en photo.
      Numéro de commande : <%= @order.id%>
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>