<div class="jumbotron jumbotron-fluid jumbotron-devise">
  <div class="container">
    <h1 class="display-4">Connectez-vous</h1>
    <p class="lead">Les plus belles photos de chaton sont ici</p>
  </div>
</div>