<div class='container'>
<div class='row'>
<% @items.each do |item|%>
<div class="card col-sm-4 border-light kitten">
  <img src='<%= item.image_url%>' class="card-img-top" alt="...">
  <div class="card-body cardbackground">
    <h5 class="card-title"><%=item.title %></h5>
    <p class='card-text'> <%=item.price%>€</p>
    
  </div>
  <div class='card-footer'>
  <%= button_to "Click me to get more infos", item_path(item), class: "btn btn-secondary", :method => "get" %>
  </div>
  </div>
  <%end%>
  </div>
</div>