<div class="jumbotron jumbotron-fluid jumbotron-devise">
  <div class="container">
    <h1 class="display-4">Bienvenue sur Kitten Market</h1>
    <p class="lead">Les plus belles photos de chatons sont ici</p>
    <%= button_to 'Vendre votre photo de chat', new_item_path, class:"btn-lg btn-primary", :method =>'get'%>
  </div>
</div>