<div class='container'>
  <div class='row'>
  <div class="card show  mb-3 col-sm-7">
  <img src="https://66.media.tumblr.com/5ee67b8b78a81af164aa2c2121e0bf4d/tumblr_n1o6mlXJYo1tn74x3o1_400.jpg" class="card-img-top" alt="Pour quelques euros vous pouvez faire un heureux, vous.">
    <div class="card-body">
    </div>
</div>
<div class="card show border-dark mb-3 col-sm-4">
  <div class="card-body">
    <h4 class="card-title"><%@items.title%></h4>
    <p class="card-text"> <%@items.description%></p>
    <p class='card-text'> <%@items.price%></p>
  </div>


  </div>
  </div>
  </div>