<div class="footer">
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 space-footer test'>
        <p>Liens pratiques</p>
        <div class='container'>
          <div class='col-sm'>
            <a href="http://www.google.com"> <i class="fas fa-map-marker"></i> Où nous trouver</a>
          </div>
          <div class='col-sm'>
            <a href="#"><i class="fas fa-phone"></i> Notre numéro</a>
          </div>
          <div class='col-sm'>
            <a href="http://www.gmail.com"><i class="fas fa-inbox"></i> Notre mail </a>
          </div>
        </div>
      </div>
      <div class='col-sm-4 space-footer'>
        <%=link_to 'Accueil', items_path %>
      </div>
      <div class='col-sm-4'>
        <div class='container'>

          <p>Suis nous sur les réseaux !</p>
          <div class='col-sm'>
            <a href="#"> <i class="fab fa-facebook"></i> Facebook</a>
          </div>
          <div class='col-sm'>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
          </div>
          <div class='col-sm'>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>