<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/dfc51490b7.js"></script>


  <title>Footer</title>
</head>

<body>
  <div class="footer">
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          <p>Liens pratiques</p>
          <div class='container'>
            <div class='col-sm'>
              <a href="#"> <i class="fas fa-map-marker"></i> Où nous trouver</a>
            </div>
            <div class='col-sm'>
              <a href="#"><i class="fas fa-phone"></i> Mon numéro perso</a>
            </div>
            <div class='col-sm'>
              <a href="#"><i class="fas fa-inbox"></i> Notre mail </a>
            </div>
          </div>
        </div>
          <div class='col-sm-4 space-footer'>
            <a href="index.html">Accueil</a>
          </div>
          <div class='col-sm-4'>
          <div class='container'>
            <p>Suis nous sur les réseaux !</p>
            <div class='col-sm'>
              <a href="#"> <i class="fab fa-facebook"></i> Facebook</a>
            </div>
            <div class='col-sm'>
              <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
            <div class='col-sm'>
              <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            </div>
          </div>
          </div>
        </div>
    </div>
    </div>
</body>

</html>